<?xml version="1.0" encoding="UTF-8" ?>
<platform name="ios" />
<platform name="android" />
<platform name="winphone" />
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.ppiamonash.survivalguide"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>PPIA Monash : Survival Guide</name>

  <description>
       Help new and current Monash students with this e-book guide
  </description>

  <author href="https://build.phonegap.com" email="riordan.alfredo@gmail.com">
      Riordan Alfredo
  </author>

</widget>