@import url("../css/material-icons.css");
.time {
    
    margin-left:40%;
    margin-right:40%;
    font-weight: bold;
    font-size: 32px;
    
     text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}
.progressbox{
    width:60%;
    margin:auto;
    background-color:red;
    opacity: 0.5;
}

.progressbar{
    
    height:15px;
    background: -webkit-linear-gradient(left, deepskyblue  , aqua); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, deepskyblue  , aqua); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, deepskyblue  , aqua); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, deepskyblue  , aqua); /* Standard syntax (must be last) */
}

.answer{
   
    font-size: 17px;
    font-weight: bold;
    border-bottom-style:solid;
    border-bottom-width: 0px;
    border-bottom-color: ;
    
}